body{
    background-color:palevioletred;
    color: lavender;
}
 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 5rem;
    margin: 250px auto;
 }